global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 10s
    timeout client  30m
    timeout server  30m

frontend postgres_in
    bind *:5434
    default_backend pg_prism_backend

backend pg_prism_backend
    server pg_prism pg-prism:5433 send-proxy
